<header>
  <div class="wrap">
    <div class="header-wrapper">
      <h1>Walk &amp; Ride <span>Template</span></h1>
      <p>With a smartphone and the right app, you can find any spot on Earth. But the best navigation apps do a lot more. Look out for that speed trap.</p>
      <p class="autor"><a href="#">Dan Rowinski</a></p>
      <div class="buttons-wrapper">
        <a href="#" class="button">Download App</a>
        <a href="#" class="button button-stripe">Learn more</a>
      </div>
    </div>
    <!-- /.header-wrapper -->
  </div>
  <!-- /.wrap -->
</header>



    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>