<header>
<!--   <div class="wrap">
    <div class="header-wrapper">
      <h1>Walk &amp; Ride <span>Template</span></h1>
      <p>With a smartphone and the right app, you can find any spot on Earth. But the best navigation apps do a lot more. Look out for that speed trap.</p>
      <p class="autor"><a href="#">Dan Rowinski</a></p>
      <div class="buttons-wrapper">
        <a href="#" class="button">Download App</a>
        <a href="#" class="button button-stripe">Learn more</a>
      </div>
    </div>
  </div> -->
<section>
  <div class="fake_header"></div>
</section>
  <section  class="me" >
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center inner">
            <h1 style="color:#fff" class="animated fadeInDown">Chen LiRen</h1>
          </div>
          <div class="col-sm-12 liren text-center">
            <img style="margin-top:30px; width: 25%; float: center; border-radius:300px; border: 2px solid #fff; " src="images/liren2.png">
            <p style="color:#fff">'Talent hits a target no one else can hit. Genius hits a target no one else can see.' </p>
            <p style="color:#fff">— <i>Arthur Schopenhauer</i></p>
            <div class="col-sm-12">
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="skills text-center col-sm-12">
      <h2>Skills</h2>
<!--       <p> I enjoy crazy idea which can make this world a more awesome place.</p> -->
      <div class="col-sm-4">
        <p><i class="fa fa-flask fa-5x"></i></p>
        <h3>Extensive Researcher</h3>
        <p class="text-left" style="text-align: justify;text-justify:inter-ideograph;">I've finished degree in physics and joined different research project in <a href="http://www.phy.ncu.edu.tw/wp/faculty/%E6%BA%AB%E5%81%89%E6%BA%90-woon-wei-yen"><span style="font-weight:bold">condense</span></a> and <a href="http://www.phys.ntu.edu.tw/member/main1.aspx?mem_id=48"><span style="font-weight:bold">nano-magnetism</span></a> Laboratory. I independently build up the experiment system from the very beginning to meet experimental need.  </p>  
      </div>
      <div class= "col-sm-4">
        <p><i class="fa fa-link fa-5x"></i></p>
        <h3>Cross-discipline Learner</h3>
        <p class="text-left" style="text-align: justify;text-justify:inter-ideograph;"> I have computing and business experience aim to connect with my extensive theory background for creating more practical value. It provide me an opportunity to approach problem in different point of view but also expose me to a vast spectrum of work.</p>
      </div>
      <div class= "col-sm-4">
        <p><i class="fa fa-lightbulb-o fa-5x"></i></p>
        <h3>Creative Maker</h3>
        <p class="text-left" style="text-align: justify;text-justify:inter-ideograph;">I built Pobono, a platform for civics to discover social problems and solve together. Now I'm updating this website for recording my maker result.</p>
      </div>
  </section>
  <section class="update">
      <h2 class="text-center">Update</h2>

  </section>
</header>

