<section class="col-sm-12 page_title">
	<h1 class="text-center">Andrew Chen</h1>
</section>


<section class="col-sm-12">
	<div class= "col-sm-6 col-sm-offset-1">
		<div>
			<h2 class=" cv_title">Education</h2>

			<h5 class="cv_sub_title">National Taiwan University
			<span class="cv_sub_title_date">[2010-2013]</span>
			</h5>
			<p>Master Degree, Physics </p>
			<p>Minor: Cloud computing and business application program</p>
			<h5 class="cv_sub_title">National Central University
			<span class="cv_sub_title_date">[2006-2010]</span>
			</h5>
			<p>Bachelor Degree, physics</p>


		</div>
		<div>
			<h2 class="cv_title">Work Experience</h2>
			<h5 class="cv_sub_title">Mediland
			<span class="cv_sub_title_note">- Service Engineer</span>
			<span class="cv_sub_title_date">[2015 - ]</span>
			</h5>
			<ul>
				<li><p>等ＰＭ開始可以先寫一版</p></li>
				<li><p>客服工程師工作</p></li>
				<li><p>X</p></li>
			</ul>
			<h5 class="cv_sub_title_a">GCCA Inc.
			<span class="cv_sub_title_note">- Field Application Engineer</span>
			<span class="cv_sub_title_date">[2006-2010]</span>
			</h5>
			<ul>
				<li><p>Jointly worked with software engineers on providing customers solutions to implement virtual desktop infrastructure.</p></li>
			</ul>	
			<h5 class="cv_sub_title_a">Information Management, National Taiwan University Computer and Information Networking Center
			<span class="cv_sub_title_note">- Intern</span>
			<span class="cv_sub_title_date">[2006-2010]</span>
			</h5>
			<ul>
				<li><p>Managed and tested campus’ cloud applications on different OSs and mobile devices.</p></li>
			</ul>
		</div>
		<div>
			<h2 class="cv_title">Research</h2>
			<p>Key word: spintronic device, magnetoresistance; clound computing, health care</p>

			<h5 class="cv_sub_title">Advisory System for Personal Care Assistance
			<span class="cv_sub_title_note"> - National Taiwan University Health Data Research Center</span>
			<span class="cv_sub_title_date">[2013-2014]</span>
			</h5>
			<ul>
				<li><p>變成兩段句子 寫法太分散Analyzed and restructured open data from Center of Health Information Application, Ministry of Health and Welfare.</p></li>
				<li><p>Led development team wrote demo program to perform advisory interaction.</p></li>
				<li><p>Worded a US design patent and two invention patents.</p></li>
			</ul>
			<h5 class="cv_sub_title">Multifunctional Organic Spin Valve with Self-assembled Monolayer Barrier
			<span class="cv_sub_title_note"> - Department of Physics, National Taiwan University</span>
			<span class="cv_sub_title_date">[2010-2012]</span>
			</h5>
			<ul>
				<li><p> Explored manufacturing process of self-assemble organic monolayer spin valve to realize spin transport mechanism.</p></li>
				<li><p> Applied theoretical charge injection and transport model to experiment result. </p></li>
				<li><p> Developed pulse voltage/current analyzes and controls system for spin valve using LabVIEW.</p></li>
			</ul>
			<h5 class="cv_sub_title">Photoluminescence in Silicon
			<span class="cv_sub_title_note"> - Department of Physics, National Central University</span>
			<span class="cv_sub_title_date">[2008-2009]</span>
			</h5>
			<ul>
				<li><p>Implemented optical path and performed experiment measurement.</p></li>
				<li><p>Developed image processing and mapping system for analyzing spectrum data using LabVIEW.</p></li>
				<li><p>Implemented algorithm to control CCD synchronizes with stepping motor using LabVIEW.</p></li>
			</ul>
			<h5 class="cv_sub_title">Thermal Convection in Two-dimension Box
			<span class="cv_sub_title_note"> - Department of Physics, National Central University</span>
			<span class="cv_sub_title_date">[2007-2008]</span>
			</h5>
			<ul>
				<li><p>Implemented the heating system with limited budget, $30, in one semester.</p></li>
				<li><p>Wrote a temperature controller program to create temperature gradient in box using C++.</p></li>
				<li><p>Tracked and analyzed particles in fluid for observing thermal convection using ImageJ.</p></li>
			</ul>
		</div>
		<div>
			<h2 class="cv_title">Site I build</h2>
			<p>I've start interesting Self-learning Html, CSS, JavaScript and Ruby on Codecademy.</p>
			<h5 class="cv_sub_title">Pobono
			<span class="cv_sub_title_note"> -CEO & Founder </span>
			<span class="cv_sub_title_date">[2013-2015][offline temporally]</span>
			</h5>
			<p>Pobono is a platform where any people can raise social problems around their daily life, collaborate to discuss or design a solution let change really happen.</p>
			<p>Leading and organizing teamwork to generate development strategies and solutions.</p>
			<p>Funding..... “Campus Entrepreneurship“, Academia-Industry Collaboration Center, National Taiwan University, Taiwan, $10,000, 2014</p>
		</div>
	</div>
	<div class= "col-sm-3 col-sm-offset-1">
		<div>

			<h2 class="cv_title">Contact Info</h2>
			<h5 class="cv_sub_title">Email: ##</h5>
			<h5 class="cv_sub_title">LinkIn: ##</h5>
			<h5 class="cv_sub_title">GitHub: ##</h5>
			<!--<img src="/images/liren.png">-->
		</div>
		<div>
			<h2 class="cv_title">Media explosure</h2>
			
			<h5 class="cv_sub_title">Vitalk Show
			<span class="cv_sub_title_date">[2014]</span>
			</h5>
			<span>Topic: Young Entrepreneurs</span>

			<h5 class="cv_sub_title">Cast Net
			<span class="cv_sub_title_date">[2014]</span>
			</h5>
			<span>Topic: Social media combine with public welfare</span>

			<h5 class="cv_sub_title">Empowerment Network for Social Innovation Talents (ENSIT)
			<span class="cv_sub_title_date">[2013]</span>
			</h5>
			<span>Topic: Crowdfunding</span>

		</div>
		<div>
			<h2 class="cv_title">Awards</h2>

			<h5 class="cv_sub_title">Campus Entrepreneurship
			<span class="cv_sub_title_date">[2014]</span>
			</h5>
			<span>Academia-Industry Collaboration Center, National Taiwan University</span>

			<h5 class="cv_sub_title">Entrepreneurship Guidance
			<span class="cv_sub_title_date">[2013-2014]</span>
			</h5>
			<span>App center, Institute for Information Industry</span>

			<h5 class="cv_sub_title">Dean’s award for master thesis
			<span class="cv_sub_title_date">[2012]</span>
			</h5>			
			<span>ACollege of Science, National Taiwan University</span>

			<h5 class="cv_sub_title">Honorable mention for master thesis
			<span class="cv_sub_title_date">[2012]</span>
			</h5>
			<span>Taiwan Association for Magnetic Technology</span>			

		</div>
		<div>
			<h2 class="cv_title">I'm also a...</h2>
			<p>Farmer</p>
			<p>Rider</p>
			<p>US TV series fan</p>
		</div>
		<div>
			<h2 class="cv_title">Records</h2>
			<p>3,300m Breaststroke in 2 hr at Sun Moon Lake</p>
			<p>260km road bike within 12hr - <a href="https://www.strava.com/activities/338878627">Strava</a></p>
			<!--<p>Chin up</p>-->
		</div>
	</div>
</section>
<!-- <p>-</p> -->