<section class="col-sm-12 page_title">
	<h1 class="text-center">Andrew Chen</h1>
</section>

		<section id="resume" class="resume">
			<div class="container">
				<div class="left">
					<div>
						<h2 class=" cv_title">Education</h2>
						<h3 class="cv_sub_title">National Taiwan University
						<span class="cv_sub_title_date">[2010-2013]</span>
						</h3>
						<p>M.A., Physics </p>
						<p>Minor: Cloud computing and business application program</p>
						<h3 class="cv_sub_title">National Central University
						<span class="cv_sub_title_date">[2006-2010]</span>
						</h3>
						<p>B.S., physics</p>
					</div>
					<div>
						<h2 class="cv_title">Work Experience</h2>
						<h3 class="cv_sub_title">Mediland
						<span class="cv_sub_title_note">- Service Engineer</span>
						<span class="cv_sub_title_date">[2015 - ]</span>
						</h3>
						<ul>
							<li><p>Cooperated with sales, RD and quality assurance to support solutions for customers with technical problems, complaints, maintenance and modification request.</p></li>
							<li><p>Hold service training and provided thorough product implementation and repairing knowledge. </p></li>
							<li><p>Integrated service app's basic framework with database and design user interface for customers ease to registration, repairing and feedback. </p></li>
							<li><p>Developed 3D-surgical room tool using Unity for sales and marketing discussing with clients efficiently.</p></li>
						</ul>
						<h3 class="cv_sub_title">National Taiwan University Health Data Research Center
						<span class="cv_sub_title_note">- Research Assistance</span>
						<span class="cv_sub_title_date">[2013-2014]</span>
						</h3>
						<ul>
							<li><p>Topic: Advisory System for Personal Care Assistance</p></li>
							<li><p>Analyzed and restructured open data from Center of Health Information Application, Ministry of Health and Welfare. </p></li>
							<li><p>Studied backward algorithm to increase intelligence advisory’s accuracy.</p></li>
							<li><p>Planned development schedule and guided engineers keep improving performance of advisory interaction and user experience.</p></li>
							<li><p>Worded a US design patent and two invention patents.</p></li>
						</ul>
						<h3 class="cv_sub_title_a">GCCA Inc.
						<span class="cv_sub_title_note">- Field Application Engineer</span>
						<span class="cv_sub_title_date">[2013-2013]</span>
						</h3>
						<ul>
							<li><p>Jointly worked with software engineers on providing customers solutions to implement virtual desktop infrastructure.</p></li>
							<li><p>Managed customers’ feedbacks and bugs then communicated with software engineers.</p></li>
							<li><p>Studied fundamental technique to maintain server and data flow framework.</p></li>
						</ul>
						<h3 class="cv_sub_title_a">Information Management, National Taiwan University Computer and Information Networking Center
						<span class="cv_sub_title_note">- Intern</span>
						<span class="cv_sub_title_date">[2012-2013]</span>
						</h3>
						<ul>
							<li><p>Managed and tested campus’ cloud applications on different OSs and mobile devices through effective problem-solving.</p></li>
							<li><p>Supported on-site service for offices and professors with clearly step by step operate   instructions and settings.</p></li>
						</ul>
					</div>
					<!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
					<!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
					<!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
					<div>
						<h2 class="cv_title">Research</h2>
						<h3 class="cv_sub_title">Multifunctional Organic Spin Valve with Self-assembled Monolayer Barrier
						<span class="cv_sub_title_note"> - National Taiwan University</span>
						<span class="cv_sub_title_date">[2010-2012]</span>
						</h3>
						<p><i class="fa fa-flask"></i><a class="test-popup-link" href="images/master_lab_1.png"><span>show spintronic</span></a></p>
						<ul>
							<li><p> Explored manufacturing process of self-assemble organic monolayer spin valve to realize spin transport mechanism independently.</p></li>
							<li><p> Applied theoretical charge injection and transport model to experiment result. </p></li>
							<li><p> Developed pulse voltage/current analyzes and controls system, including delate time, periods and low temperate system, for spin valve using LabVIEW.</p></li>
						</ul>
						<h3 class="cv_sub_title_a">Photoluminescence in Silicon
						<span class="cv_sub_title_note"> - National Central University</span>
						<span class="cv_sub_title_date">[2008-2009]</span>
						</h3>
						<p><i class="fa fa-flask"></i><a class="test-popup-link" href="images/undergraduate_lab_2.png"><span>show system</span></a></p>
						<ul>
							<li><p>Implemented optical path and performed experiment measurement.</p></li>
							<li><p>Developed image processing and mapping system for analyzing spectrum data using LabVIEW.</p></li>
							<li><p>Implemented algorithm to control CCD synchronizes with stepping motor using LabVIEW.</p></li>
						</ul>
						<h3 class="cv_sub_title_a">Thermal Convection in Two-dimension Box
						<span class="cv_sub_title_note"> - National Central University</span>
						<span class="cv_sub_title_date">[2007-2008]</span>
						</h3>
						<p><i class="fa fa-flask"></i><a class="test-popup-link" href="images/undergraduate_lab_1.png"><span>show system</span></a></p>
						<ul>
							<li><p>Implemented the heating system with limited budget, $30, in one semester.</p></li>
							<li><p>Wrote a temperature controller program to create temperature gradient in box using C++.</p></li>
							<li><p>Tracked and analyzed particles in fluid for observing thermal convection using ImageJ.</p></li>
						</ul>
					</div>
					<div>
						<h2 class="cv_title">Site I build</h2>
						<h3 class="cv_sub_title">Pobono
						<span class="cv_sub_title_note"> -CEO & Founder </span>
						<span class="cv_sub_title_date">[2013-2015][offline temporally]</span>
						</h3>
						<p>Pobono is a platform where any people can raise social problems around their daily life, collaborate to discuss or design a solution let change really happen.</p>
						<ul>
							<li><p>Led 5 core members and 6 interns from different majors and led teamwork to generate strategies and solutions for faster scale up. </p></li>
							<li><p>Abled to effectively supervise and motivate staff to high performance levels.</p></li>
							<li><p>Learned Html, CSS, JavaScript and Ruby on online open source to keep sure have enough ability to communicate and coordinate in group.</p></li>
							<li><p>“Campus Entrepreneurship“, Academia-Industry Collaboration Center, National Taiwan University, US$10,000, Status: Awarded, 2014.</p></li>
							<li><p>Cloud computing and business application program, National Taiwan University, US$4,000, Status: Awarded, 2013.</p></li>
						</ul>
						<p><i class="fa fa-picture-o"></i><a class="test-popup-link" href="images/pobono_2014.jpg"><span>Summer, 2014</span></a></p>
						<p><i class="fa fa-youtube"></i></i><a href="http://www.youtube.com/embed/tkdOC6gw_Qw?list=PL7dhe3f1j3T195lnwlzCloGJOGNDj7eqQ"><span>Short film - 〈My Story, My NTU〉. We cooperate with many teams that dedicate on solving social problems. The most special thing is that leader or members in those teams are most come from NTU. </span></a></p>
					</div>
				</div>
				<!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
				<!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
				<!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
				<div class="right">
					<div>
						<h2 class="cv_title">Contact Info</h2>
						<h3 ><i class="fa fa-envelope"></i>: <a href="mailto:chenliren789@gmail.com"><span style="font-weight:bold">chenliren789@gmail.com</span></a></h5>
						<h3 ><i class="fa fa-linkedin"></i>: <a href="https://tw.linkedin.com/pub/chen-liren/95/b82/984"><span style="font-weight:bold">chen liren</span></a></h5>
						<h3 ><i class="fa fa-github"></i>: ##</h5>
					</div>
					<div>
						<h2 class="cv_title">Key word</h2>
						<p>Semiconductor physics</p>
						<p>Spintronic</p>
						<p>Self-assembled monolayer</p>
						<p>Image and data processing</p>
						<p>Clound computing</p>
					</div>
					<div>
						<h2 class="cv_title">Published</h2>
						<h3 class="cv_sub_title">PHYSICAL REVIEW B 90, 224424
						<span class="cv_sub_title_date">[2014]</span>
						</h3>
						<p><a href="http://journals.aps.org/prb/abstract/10.1103/PhysRevB.90.224424">Probing Magnetoelastic Effects of Ultrathin Antiferromagnets via Magnetic Domain Imaging in Ferromagnetic-Antiferromagnetic Bilayers</a></p>
					</div>
					<div>
						<h2 class="cv_title">Media explosure</h2>
						<h3 class="cv_sub_title">Vitalk Show
						<span class="cv_sub_title_date">[2014]</span>
						</h3>
						<p>Topic: Young Entrepreneurs</p>
						<h3 class="cv_sub_title">Cast Net
						<span class="cv_sub_title_date">[2014]</span>
						</h3>
						<p>Topic: Social media combine with public welfare</p>
						<h3 class="cv_sub_title">Empowerment Network for Social Innovation Talents (ENSIT)
						<span class="cv_sub_title_date">[2013]</span>
						</h3>
						<p>Topic: Crowdfunding</p>
					</div>
					<div>
						<h2 class="cv_title">Awards</h2>
						<h3 class="cv_sub_title">Campus Entrepreneurship
						<span class="cv_sub_title_date">[2014]</span>
						</h3>
						<p>Academia-Industry Collaboration Center, National Taiwan University</p>
						<h3 class="cv_sub_title">Entrepreneurship Guidance
						<span class="cv_sub_title_date">[2013-2014]</span>
						</h3>
						<p>App center, Institute for Information Industry</p>
						<h3 class="cv_sub_title">Dean’s award for master thesis
						<span class="cv_sub_title_date">[2012]</span>
						</h3>
						<p>College of Science, National Taiwan University</p>
						<h3 class="cv_sub_title">Honorable mention for master thesis
						<span class="cv_sub_title_date">[2012]</span>
						</h3>
						<p>Taiwan Association for Magnetic Technology</p>
					</div>
					<div>
						<h2 class="cv_title">I'm also a...</h2>
							<h3 class="cv_sub_title_a">Farmer</h3>
							<h3 class="cv_sub_title_a">Rider</h3>
							<h3 class="cv_sub_title_a">US TV series fan</h3>
					</div>
					<div>
						<h2 class="cv_title">Records</h2>
						<p>3,300m Breaststroke in 2 hr at Sun Moon Lake</p>
						<p>260km road bike within 12hr - <a href="https://www.strava.com/activities/338878627">Strava</a></p>
					</div>
				</div>
			</div>
		</section>
<!-- <p>-</p> -->


		<script type="text/javascript">
			$('.test-popup-link').magnificPopup({
			type: 'image'
			// other options
			});
		</script>
