
<h1 class="col-sm-12">12312312</h1>
<h1 class="col-sm-12">12312312</h1>
<h1 class="col-sm-12">12312312</h1>
<h1 class="col-sm-12">12312312</h1>
<h1 class="col-sm-12">12312312</h1>
<h1 class="col-sm-12">12312312</h1>
qeweqw
wqejqwkejhqkwehkw
<!-- welcome/say_hello.html -->
<p><%= link_to 'Hello!', welcome_say_hello_path %></p>