<div class="col-sm-12">
<section>
  <div class="fake_header"></div>
</section>
	<!-- Main container -->
<P>KJHRWKEJHRKJWEHRKJWEHRKJWNDMNFVWIEURJWMENR</P>
<div style="border:1px solid #000">
	
<h3>ewre</h3>
<h2>ewrjkwlke</h2>



</div>
<section>Hellop</section>
wer

</div>