<body class="col-sm-12" onload="prettyPrint();">   
<div class="level1">

</div>
<!-- <div class="level2">
  <p></p>
  <p>Fields</p>
  <p>Sub skills</p>  
  <p>Skills</p>  
  <p>Detail</p>  </div> -->
<!-- <div class="level3">
  <p>Sub skills</p>  
</div>
<div class="level4">
  <p>Skills</p>  
</div>
<div class="level4">
  <p>Detail</p>  
</div> --> 


    <ul id="org">
      <li>
         <img style="width: 90%; float: center; border-radius:300px; border: 2px solid #fff; margin-top:-20px; " src="images/liren2.png">
         <ul>
           <li id="beer" >
              <p>Science</p>
              <p class="tree_down"></p>
              <ul>
                  <li>
                      <p>Semiconductor</p>
                      <p class="tree_down"></p>
                        <ul>
                          <li>
                              <p>AFM</p>
                          </li>
                          <li>
                              <p>Lithography</p>
                          </li>
                          <li>
                              <p>Ion implantation</p>
                          </li>                            
                        </ul>                       
                  </li>
                  <li>
                      <p>Spintronic</p>
                      <p class="tree_down"></p>
                        <ul>
                          <li>
                              <p>Self-assemble monolayer</p>
                          </li>
                          <li>
                              <p>Nano printing</p>
                          </li>
                          <li>
                              <p>Ultra High Vacuum  System</p>
                          </li>      
                        </ul>                      
                  </li>
              </ul>
           </li>
           <!--  -->
           <li>
              <p>Firmware</p>
              <p class="tree_down"></p>
              <ul>
                <li>
                    <p>  <img style="width: 50%; float: center;"src="images/labview.png"></p>
                    <p class="tree_down"></p>
                        <ul>
                          <li>
                              <p>Data analysis</p>
                              <p class="tree_down"></p>
                                  <ul>
                                    <li>
                                        <p>Image</p>
                                    </li>
                                    <li>
                                        <p>Signal</p>
                                    </li>         
                                  </ul>                              
                          </li>
                          <li>
                              <p>Device control</p>
                              <p class="tree_down"></p>                            
                                  <ul>
                                    <li>
                                        <p>Temperature</p>
                                    </li>
                                    <li>
                                        <p>Spectrometer</p>
                                    </li>         
                                  </ul>                              
                          </li>                          
                        </ul>                  
                </li>
                <li>
                    <p><img style="width: 50%; float: center;"src="images/arduino.png"></p>
                    <p class="tree_down"></p>
                </li>                           
              </ul>
           </li>
           <!--  -->
           <li class="fruit">
              <p>Software</p>
              <p class="tree_down"></p>
            <ul>
              <li>
                  <p>Apple</p>
                  <p class="tree_down"></p>
                 <ul>
                   <li><p>Granny Smith</p></li>
                 </ul>
               </li>
               <li>Berries
                 <ul>
                   <li>Blueberry</li>
                   <li>Cucumber</li>
                 </ul>
               </li>
             </ul>
           </li>
           <!--  -->
           <li class="collapsed">
              <p>Software</p>
              <p class="tree_down"></p>
             <ul>
               <li></li>
               <li>Reese's Cups</li>
             </ul>
           </li>
         </ul>
      </li>
   </ul>            
    
    <div id="chart" class="orgChart"></div>
</body>


    <script>
    jQuery(document).ready(function() {
        $("#org").jOrgChart({
            chartElement : '#chart',
            dragAndDrop  : true
        });
    });
    </script>



   <script>
        jQuery(document).ready(function() {
            
            /* Custom jQuery for the example */
            $("#show-list").click(function(e){
                e.preventDefault();
                
                $('#list-html').toggle('fast', function(){
                    if($(this).is(':visible')){
                        $('#show-list').text('Hide underlying list.');
                        $(".topbar").fadeTo('fast',0.9);
                    }else{
                        $('#show-list').text('Show underlying list.');
                        $(".topbar").fadeTo('fast',1);                  
                    }
                });
            });
            
            $('#list-html').text($('#org').html());
            
            $("#org").bind("DOMSubtreeModified", function() {
                $('#list-html').text('');
                
                $('#list-html').text($('#org').html());
                
                prettyPrint();                
            });
        });
    </script>